* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	max-width: 100%;

	margin: 0;
	padding: 0;

	overflow-x: hidden;

	font-size: 16px;
}

form {
	input,
	textarea {
		display: block;
		width: 100%;
	}
}

ul {
	list-style: none;

	li {
		display: inline-block;
	}
}

a {
	text-decoration: none;
}

.btn {
	margin: 0;
	padding: 1rem;
	border: 0;
	border-radius: 3px;
	outline: 0;

	font-size: 14px;

	transition: all 150ms ease-in-out;

	&:hover {
		cursor: pointer;
	}

	&:active {
		outline: 0;
	}
}

.black-on-white {
	background-color: #fff;
	color: #222;
}

.faq__answer {
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
}

section {
	margin: 0;
	padding: 0;
}
