@import 'section';
@import 'top-section';
@import 'about';
@import 'services';

.text-box {
	&__title {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
	}

	&__content {
		font-family: 'Rubik', sans-serif;
		font-weight: 300;
	}
}
