@import './../vars.scss';

$color-white: #eaeaea;

.top-section {
	height: 730px;

	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;

	background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/Q309TP8KY1.jpg');
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: overlay;
}

.page-header {
	width: 100%;
	height: 120px;

	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.7) 0%,
		rgba(0, 0, 0, 0) 100%
	);

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		height: 70px;
	}

	&__logo {
		img {
			height: 42px;
			width: auto;
		}
	}

	&__menu {
		font-family: 'Rubik', sans-serif;

		li {
			padding: 0 0.5rem;
			color: $color-white;
			opacity: 0.65;
			letter-spacing: 2px;
			text-transform: uppercase;
			transition: all 150ms ease-out;

			&:last-of-type {
				padding-right: 0;
			}

			&.active {
				opacity: 1;
			}

			&:hover {
				cursor: pointer;
				opacity: 1;
				background-color: $accent-light;
			}
		}

		.phone-label {
			background: #e41b23;
			color: #fff;
			border-radius: 1px;
			margin-left: 1rem;
			padding: 0.25rem 0.5rem;
		}
	}
}

.hero {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	color: $color-white;

	font-family: 'Roboto', sans-serif;

	h2 {
		font-weight: 500;
		font-size: 2em;
		letter-spacing: 1px;
		margin-bottom: 1rem;
	}

	h4 {
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}

	.btn {
		background-color: $accent-light;
		color: $color-white;

		font-family: 'Rubik', sans-serif;
	}
}
