---
layout: default
---

<section class="top-section">
	<header class="page-header">
		<div class="container">
			<div class="page-header__logo">
				<img
					src="/assets/images/lateres__logo--white.png"
					alt="Lateres brand logo"
				/>
			</div>
			<nav class="page-header__menu">
				<ul>
					<li class="active">Home</li>
					<li>O firmie</li>
					<li>Oferta</li>
					<li>FAQ</li>
					<li>Kontakt</li>
					<span class="phone-label">+48 127 357 256</span>
				</ul>
			</nav>
		</div>
	</header>
	<div class="hero">
		<div class="container">
			<h2>Wynajem <br />rusztowań ramowych</h2>
			<h4>Transport oraz montaż dostępny na terenie całego kraju</h4>
			<a href="#uslugi" class="btn btn-accent-light">
				Dowiedz się więcej o naszej firmie
			</a>
		</div>
	</div>
</section>
<!-- About section -->
<section class="section about-section black-on-white">
	<div class="container">
		<h1 class="section__title">O firmie</h1>
		<div class="row">
			<div class="col-md-6 left-col">
				<img
					src="https://cdn.pixabay.com/photo/2016/09/12/13/29/new-home-1664302_1280.jpg"
					alt="Picture of a house"
				/>
			</div>
			<div class="col-md-6 right-col">
				<h1>
					Lateres<span>
						<br />
						znaczy cegła</span
					>
				</h1>
				<div class="text-box">
					<p class="text-box__content">
						Zajmujemy się wynajmem rusztowań ramowych, wraz z
						transportem i montażem na terenie całego kraju pod
						nadzorem inżyniera budownictwa i architekta w jednej
						osobie. Lateres to pochodna istniejącej na rynku ponad
						13 lat rodzinnej firmy Lux-Dom. Budownictwo i
						architektura, zarówno od strony projektowej i
						wykonawczej to nasza życiowa droga i pasja!
					</p>
				</div>
				<div>
					<a href="#uslugi" class="btn btn-accent-light">
						Sprawdź naszą ofertę
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Services section -->
<section id="uslugi" class="section services-section black-on-white">
	<div class="container">
		<h2 class="section__title">Oferta</h2>
		<div class="row">
			<div class="col-md-8 left-col">
				<div class="text-box">
					<h2 class="text-box__title">
						Plettac SL70
					</h2>
					<p class="text-box__content">
						Rusztowanie typu ramowego charakteryzuje się szybkością
						i bezpieńczestwem montażu. Pod kątem użytkowania cechuje
						się także kompleksowym wykorzystaniem dla pełnego
						spektrum robót elewacyjnych. Od ocieplania przez
						tynkowanie i malowanie do montażu fasad prefabrykowanych
						elementowych, także dla prac renowacyjnych i
						konserwatorskich.
					</p>
					<p class="text-box__content">
						Możliwy wynajem krótko i dlugoterminowy, także
						poszczególnych elementów. Po więcej szczegółów zapraszam
						do sekcji FAQ oraz do Kontaktu.
					</p>
				</div>
				<div class="services-icons">
					<div class="row">
						<div class="col-xs plettac-feature">
							<img
								src="/assets/images/flaticons/fast.png"
								alt=""
							/>
							<p>Transport i montaż w ciągu jednego dnia</p>
						</div>
						<div class="col-xs plettac-feature">
							<img
								src="/assets/images/flaticons/security.png"
								alt=""
							/>
							<p>
								Nowe rusztowanie z certyfiaktem bezpieczeństwa
							</p>
						</div>
						<div class="col-xs plettac-feature">
							<img
								src="/assets/images/flaticons/scaffolding.png"
								alt=""
							/>
							<p>
								Szeroki zakres zastosowań dla prac elewacyjnych
							</p>
						</div>
						<div class="col-xs plettac-feature">
							<img
								src="/assets/images/flaticons/file.png"
								alt=""
							/>
							<p>
								Instrukcja montażu i użytkowania:
							</p>
							<a
								href="https://www.scaff.pl/do_pobrania/SL70_Instrukcja_montazu_i_uzytkowania.pdf"
								target="_blank"
								>Plettac SL70</a
							>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 right-col">
				<img
					src="/assets//images/sl70.png"
					alt="Rusztowanie Plettac SL70"
				/>
			</div>
		</div>
	</div>
</section>

<!-- FAQ section -->
<section>
	<div class="container">
		<h2 class="seciton__title">
			Najczęściej zadawane pytania (FAQ)
		</h2>
		<ul class="faq">
			<li>
				<button class="faq__question">Ile kosztuje wynajem?</button>
				<div class="faq__answer">
					<p>
						Wycena zlecenia dokonywana jest indywidualnie. Na kwotę
						najmu skłąda się wiele czynników, takich jak: ilość
						elementów, czas wynajmu, lokalizacja czy konieczność
						transportu i montażu.
						<a href="#kontakt"
							>Skontaktuj się już teraz w celu otrzymania
							wyceny!</a
						>
					</p>
				</div>
			</li>
			<li>
				<button class="faq__question">
					Jak policzyć powierzchnie?
				</button>
				<div class="faq__answer">
					<p>
						Pomiaru dokonuje się w jednostce metra kwadratowego. Na
						powierzchnie roboczą składa się suma obrysu zewnętrznego
						kontstrukcji rusztowania. Zazwyczaj jest to po prostu
						iloczyn szerokości i wysokości koniecznej do pokrycia
						powierzchni. Standardowy, niepodzielny moduł ma wymiary
						2m wysokości na 2,5 lub 3m szerokości. Wybudowa składa
						się z wielokrotności takich modułów.
					</p>
				</div>
			</li>
			<li>
				<button class="faq__question">
					Czy rusztowanie jest bezpieczne?
				</button>
				<div class="faq__answer">
					<p>
						Oczywiście. Rusztowanie jest w użytku od lipca 2019.
						Posiada certyfikaty bezpieczeństwa oraz zgodności
						Instytutu Mechanizacji Budownictwa i Górnictwa Skalnego.
						Montaż zgodny z Dokumentacją techniczno - ruchową
						producenta zapewnia pełne bezpieczeństwo podczas
						użytkowania.
					</p>
					<a
						href="https://www.scaff.pl/do_pobrania/SL70_Instrukcja_montazu_i_uzytkowania.pdf"
						target="_blank"
						>Instrukcja montażu i użytkowania - Plettac SL70</a
					>
				</div>
			</li>
			<li>
				<button class="faq__question">
					Czy są jakieś ograniczenia dotyczące transportu i montażu?
				</button>
				<div class="faq__answer">
					<p>
						Nie ma. Pełen zestaw dostępnego rusztowania jesteśmy w
						stanie przewieźć i zmontować w ciągu jednego dnia w
						dowolnym miejscu w kraju.
					</p>
				</div>
			</li>
			<li>
				<button class="faq__question">
					Czy konieczna jest wpłata kaucji?
				</button>
				<div class="faq__answer">
					<p>
						W określonych warunkach, dla podniesienia wiarygodności
						klienta kaucja jest wymagana. Zależne jest to od
						historii współpracy, ilości wynajmowanego sprzętu oraz
						rodzaju podmiotu zamawiającego.
					</p>
				</div>
			</li>
			<li>
				<button class="faq__question">
					Jak wygląda umowa najmu?
				</button>
				<div class="faq__answer">
					<p>
						Umowa ramowa wraz z rzutem podglądowym oraz z
						zestawieniem elementów przesyłana jest na adres e-mail
						po wzajemnym ustaleniu najważniejszych parametrów
						zlecenia.
					</p>
				</div>
			</li>
			<li>
				<button class="faq__question">
					Czy możliwe jest przedłużenie najmu po wygaśnięciu
					pierwotnej umowy?
				</button>
				<div class="faq__answer">
					<p>
						Tak. Konieczne jest pisemne zgłoszenie zamiaru
						przedłużenia wynajmu najpóźniej do 5 dni przed końcem
						pierwotnej umowy pod rygorem niemożności realizacji
						zlecenia. Zostaje podpisany aneks przedłużający najem o
						ustalony okres.
					</p>
				</div>
			</li>
		</ul>
		<script>
			var acc = document.getElementsByClassName('faq__question');
			var i;

			for (i = 0; i < acc.length; i++) {
				acc[i].addEventListener('click', function() {
					this.classList.toggle('active');
					var panel = this.nextElementSibling;
					if (panel.style.display === 'block') {
						panel.style.display = 'none';
					} else {
						panel.style.display = 'block';
					}
				});
			}
		</script>
	</div>
</section>

<!-- Contact section -->
<section>
	<div class="container">
		<h2 class="section__title">Kontakt</h2>
		<div class="row">
			<div class="col-md-6">
				<address class="addr">
					<p class="addr_line">Ulica, nr domu</p>
					<p class="addr_line">Kod pocztowy, miasto</p>
					<p class="addr_line">Wojewodztwo</p>
				</address>
				<p>+48 123 456 789</p>
				<p>rusztowania@lateres.pl</p>
			</div>
			<div class="col-md-6">
				<form action="">
					<input
						type="text"
						name="person"
						placeholder="Imię i nazwisko"
					/>
					<input
						type="text"
						name="contact_number"
						placeholder="Numer kontaktowy"
					/>
					<input type="email" name="email" placeholder="E-mail" />
					<textarea name="content" rows="4"></textarea>
					<input type="submit" value="Wyślij" />
				</form>
			</div>
		</div>
	</div>

	<div id="map" style="height: 400px; width: 100%"></div>
	<script>
		function initMap() {
			const pos = {lat: 52.302747, lng: 18.150331};
			const map = new google.maps.Map(document.getElementById('map'), {
				zoom: 12,
				center: pos,
				disableDefaultUI: true,
			});
			const marker = new google.maps.Marker({position: pos, map: map});
		}
	</script>
	<script
		async
		defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbrdKsthP5qCC9LP-NTrQEmOeRvUTrYtY&callback=initMap"
	></script>
</section>

<footer>
	<div class="row">
		<div class="col">
			<img src="" alt="Lateres brand logo" />
			<h3>Architektura i budownictwo to nasza życiowa droga i pasja</h3>
		</div>
		<div class="col">
			<h3>Kontakt</h3>
			<p>
				<span><i class="fas fa-map-marker-alt"></i></span>
				Ulica, nr domu
			</p>
			<p>
				<span></span>
				Miasto, Województwo
			</p>
			<p>
				<span><i class="fas fa-phone"></i></span>
				+48 123 456 789
			</p>
			<p>
				<span><i class="fas fa-at"></i></span> rusztowania@lateres.pl
			</p>
		</div>
		<div class="col">
			<h3>Menu</h3>
			<nav>
				<ul>
					<li>Home</li>
					<li>O firmie</li>
					<li>Oferta</li>
					<li>FAQ</li>
					<li>Kontakt</li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
